#imageList {
    padding: 0;
    margin: 0   ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
    text-decoration: none;
    list-style: none;
    text-align: center;
} 


/* cringe */


img {
    width: 80%;
    aspect-ratio: 3/2;
    object-fit: cover;
    padding-top: 20px;
}

h1 {
    text-align: center;
    font-size: 3rem;
    padding: 0;
    margin: 10px;
}

h2 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 2rem;
}

@font-face {
    font-family: "Anurati-Regular";
    src: url("./Anurati-Regular.otf");
  }
  


body {
    padding: 0;
    margin: 0;
    font-family: "Anurati-Regular";
}

